body {
  background-image: url("../img/background.png");
  background-size: 100% auto;
  background-color:#2F4F4F;
}

h1 {color: beige;
  text-shadow:
    -2px -2px 0 #000,
     0   -2px 0 #000,
     2px -2px 0 #000,
     2px  0   0 #000,
     1px  2px 0 #000,
     0    2px 0 #000,
    -2px  2px 0 #000,
    -2px  0   0 #000;
    font-size: 2vw;
}

.h1km {
  animation-name: kmation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate
}

p {color: beige;}
hr {color: beige;}

b {
    border-bottom: dashed;
}

b:hover {
    text-decoration: none;
    background-color: #f1f1f1;
    right: -100px;
}

.outline {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

/* center shit */

.boxcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:1;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    margin-left: 36.25%;
    z-index:-1;
}

@keyframes kmation {
  0%   {transform: rotate(6deg);}
  100% {transform: rotate(-5deg);}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  animation-name: kmation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

/* sidebar */

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0.5vw;
}


.sidenav a {
  padding: 1vh 8px 3vh 1vw;
  text-decoration: none;
  font-size: 2vw;
  font-family: "Bahnschrift", "Helvetica";
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* sidebar end*/

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}



div.content {
  margin-left: 50%;
  padding: 1px 16px;
  height: 1000px;
}
